body{
	background-color:darkgoldenrod;
}
label{
	display: block;
	margin-top: 20px;
}
input{
	display: block;
	margin-top: 20px;
}

.main-form{
	border: 1px solid black;
	display: flex;
	justify-content: center;
}

.popup-form-header{
	margin-top: 20px;
}

.button{
	margin: 20px auto 20px auto;
}

.status{
	color:brown;
}